.carousel .carousel-inner{
    height: 600px;
}
.carousel .carousel-inner .carousel-item img{
    object-fit: cover;
}
.carousel .carousel-caption h5{
    margin-top:-350px;
    text-align: left;
    margin-left: -70px;
    font-size: 34px;
    font-weight: 600;
    color: #fff;
    width: 600px;
    text-transform: capitalize;
}
.carousel .carousel-caption p{
    text-align: left;
    margin-left: -70px;
    font-size: 15px;
    color: #fff;
    font-weight: lighter;
    width: 600px;
}
.carousel-item{
    position: relative !important;
}
.overlay-black{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
